* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #aa9696;
}
#firstdiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 95%;
  /* border: 2px solid red; */
  gap: 20px;
  margin: auto;
}

#proimage {
  border-radius: 8px 8px;
}
.cartmain {
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f0e9e9;
  border-radius: 8px;
}
.divone {
  /* border: 2px solid black; */
}
.divtwo {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  font-size: larger;
}
#str {
  color: red;
}
.addtocart {
  width: 100%;
  /* border: 3px solid rgb(31, 67, 82); */
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 8px;
  justify-content: center;
  color: rgb(38, 90, 116);
}
.maindivproductpage {
  display: flex;
  width: 97%;
  margin: auto;
  /* border: 4px solid rgb(221, 112, 112); */
}
.divsecond {
  width: 75%;
}

.categoryfilters {
  width: 25%;
  border: 2px solid rgb(41, 41, 32);
}

.droptdownbutton {
  background-color: #aa04aa;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.droptdownbutton1 {
  background-color: #aa8304;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* Dropdown button on hover & focus */
#droptdownbutton:hover,
#droptdownbutton:focus {
    background-color: #53bd57;
}
#droptdownbutton1:hover,
#droptdownbutton1:focus {
    background-color: #3e8e41;
}
#droptdownbutton1 {
  background-color: white;
  border: 5px solid skyblue;
  padding: 10px;
  border-radius: 10px;
  color: black;
  margin-top: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: yellow; */
  min-width: 220px;
  /* border: 1px solid red; */
  z-index: 1;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  /* background-color: yellow; */
  min-width: 220px;
  /* border: 1px solid red; */
  z-index: 1;
}
#Productsort {
  padding: 10px;
  margin-left: 755px;
  width: 27%;
  margin-top: 50px;
  font-size: larger;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
#Productsort > option {
  font-size: large;
}
.dropdown-content > button {
  padding: 11px 14px;
  display: block;
  width: 161%;
  border-radius: 5px;
  color: black;
  margin: 5px;
  background-color: white;
}
.dropdown-content1 > button {
  padding: 11px 14px;
  display: block;
  width: 161%;
  text-align: left;
  border-radius: 5px;
  color: black;
  margin: 5px;
  background-color: white;
}
.dropdown-content1 > button {
  padding: 12px 16px;
  display: block;
}
.show {
  display: block;
}
.categoryfilters > div:nth-child(1) {
  display: block;
  width: 100%;
}
.categoryfilters > div:nth-child(2) {
  display: block;
  width: 100%;
}
#droptdownbutton1 {
  width: 100%;
}
#paginationdiv {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.button {
  padding: 10px;
  border-radius: 50%;
  color: white;
  background-color: skyblue;
  border: none;
}

/* --------------------------------------
   */
#sort {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid rgb(187, 196, 187);
}
#discount {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid rgb(187, 196, 187);
}
#category {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid rgb(187, 196, 187);
}
.categoryfilters {
  padding: 10px;
}
.categoryfilters {
  border: 1px solid rgb(187, 196, 187);
}
.maindivproductpage {
  width: 85%;
  margin: auto;
}

#display-sale-image {
  width: 85%;
  margin: auto;
  /* border: 2px solid red; */
  text-align: center;
  margin-top: 105px;
}
.buttonsdiv > button {
  padding: 7px;
  margin: 5px;
  /* background-color: yellowgreen; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
   border: none;
}

